	<div id="menu-wrapper">
		<div id="menu" class="container">
			<ul>
				<li>@Html.ActionLink("Home", "Index", "Home")</li>
			    <li>@Html.ActionLink("Block Explorer", "Index", "Explorer")</li>
			    <li>@Html.ActionLink("Search","Index","Search")</li>
				<li class="current_page_item">@Html.ActionLink("Statistics","Index","Statistics")</li>
				<li>@Html.ActionLink("Transactions","Index","Transactions")</li>
				<li>@Html.ActionLink("About Us", "About", "Home")</li>
				<li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
			</ul>
		</div>
	</div>

@model Storage.Models.Statistics

<div id="page" class="container">
		<div id="content">
			<div class="post">
				<h2 class="title">Statistics</h2>
				<div class="entry">
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.TotalTime)
        </th>
        <td>
            @Html.DisplayFor(modelItemProperty => Model.TotalTime)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.AverageTime)
        </th>
        <td>
            @Html.DisplayFor(modelItemProperty => Model.AverageTime)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.VarianceTime)
        </th>
        <td>
            @Html.DisplayFor(modelItemProperty => Model.VarianceTime)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.StandardDeviationTime)
        </th>
        <td>
            @Html.DisplayFor(modelItemProperty => Model.StandardDeviationTime)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.SumBtc)
        </th>
        <td>
            @Html.DisplayFor(modelItemProperty => Model.SumBtc)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.AverageBtc)
        </th>
        <td>
            @Html.DisplayFor(modelItemProperty => Model.AverageBtc)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.StandardDeviationBtc)
        </th>
        <td>
            @Html.DisplayFor(modelItemProperty => Model.StandardDeviationBtc)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.VarianceBtc)
        </th>
        <td>
            @Html.DisplayFor(modelItemProperty => Model.VarianceBtc)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.NumberOfTransactions)
        </th>
        <td>
            @Html.DisplayFor(modelItemProperty => Model.NumberOfTransactions)
        </td>
    </tr>
        <tr>
        <th>
            @Html.DisplayNameFor(model => Model.AverageTrans)
        </th>
        <td>
            @Html.DisplayFor(modelItemProperty => Model.AverageTrans)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.VarianceTrans)
        </th>
        <td>
            @Html.DisplayFor(modelItemProperty => Model.VarianceTrans)
        </td>
    </tr>
        <tr>
        <th>
            @Html.DisplayNameFor(model => Model.StandardDevTrans)
        </th>
        <td>
            @Html.DisplayFor(modelItemProperty => Model.StandardDevTrans)
        </td>
    </tr>
</table>

				</div>
			</div>
		</div>
    </div>