@model WebRole.Models.Block

@{
    ViewBag.Title = "Block Details";
}

<h2>Details</h2>

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <td>@Html.DisplayFor(model => model.Id)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Size)</th>
        <td>@Html.DisplayFor(model => model.Size)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.RelayedBy)</th>
        <td>@Html.DisplayFor(model => model.RelayedBy)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Transactions)</th>
        <td>@Html.DisplayFor(model => model.Transactions)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Total)</th>
        <td>@Html.DisplayFor(model => model.Total)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Hash)</th>
        <td>@Html.DisplayFor(model => model.Hash)</td>
    </tr>
</table>