@using WebRole.Models
<<<<<<< HEAD
@model IEnumerable<WebRole.Models.Block>
=======
@model IEnumerable<Block>
>>>>>>> 2e6ad6e99bd40c78ebd232a830a25600767ee897

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div>
    @using (Html.BeginForm())
    {
<<<<<<< HEAD
        <p> Find hash: @Html.TextBox("HashSub")<br/>
            Relayer: @Html.TextBox("Relay")<br/>
            <input type="submit" value="Filter" /> </p>
    }
</div>

=======
        <table>
            <tr>
                <th>Hash</th>
                <td>@Html.TextBox("HashSub")</td>
            </tr>
            <tr>
                <th>Relayed by</th>
                <td>@Html.TextBox("Relay")</td>
            </tr>
        </table>
        <input type="submit" value="Filter" /> 
    }
</div>

@if (ViewBag.NoResult) { <p class="red">Your search did not match any entry.</p> }
else {
>>>>>>> 2e6ad6e99bd40c78ebd232a830a25600767ee897
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelayedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transactions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hash)
        </th>
    </tr>
    @foreach (Block item in Model)
    {
        <tr>
            <td>
                @item.Total.ToString("#,#.00 'BTC'")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelayedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transactions)
            </td>
            <td>
                @Html.ActionLink(item.Hash.Substring(0, 25) + "...", "Details", "Explore", new {id = item.Id}, null)
            </td>
        </tr>
    }
<<<<<<< HEAD
</table>
=======
</table>
}
>>>>>>> 2e6ad6e99bd40c78ebd232a830a25600767ee897
