@model WebRole.Models.BlockModel

@{
    ViewBag.Title = "Explorer";
}

<h1>@ViewBag.Title</h1>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hash)
        </th>
        <td>
            @Html.DisplayFor(modelItem => Model.Hash)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <td>
            @Html.DisplayFor(modelItem => Model.Version)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PreviousBlock)
        </th>
        <td>
            @Html.DisplayFor(modelItem => Model.PreviousBlock)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MerkleRoot)
        </th>
        <td>
            @Html.DisplayFor(modelItem => Model.MerkleRoot)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <td>
            @Html.DisplayFor(modelItem => Model.Time)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bits)
        </th>
        <td>
            @Html.DisplayFor(modelItem => Model.Bits)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumberOnce)
        </th>
        <td>
            @Html.DisplayFor(modelItem => Model.NumberOnce)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfTransactions)
        </th>
        <td>
            @Html.DisplayFor(modelItem => Model.NumberOfTransactions)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <td>
            @Html.DisplayFor(modelItem => Model.Size)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Index)
        </th>
        <td>
            @Html.DisplayFor(modelItem => Model.Index)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsInMainChain)
        </th>
        <td>
            @Html.DisplayFor(modelItem => Model.IsInMainChain)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <td>
            @Html.DisplayFor(modelItem => Model.Height)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedTime)
        </th>
        <td>
            @Html.DisplayFor(modelItem => Model.ReceivedTime)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RelayedBy)
        </th>
        <td>
            @Html.DisplayFor(modelItem => Model.RelayedBy)
        </td>
    </tr>
</table>


