	<div id="menu-wrapper">
		<div id="menu" class="container">
			<ul>
				<li class="current_page_item">@Html.ActionLink("Home", "Index", "Home")</li>
			    <li>@Html.ActionLink("Block Explorer", "Index", "Explorer")</li>
			    <li>@Html.ActionLink("Search","Index","Search")</li>
				<li>@Html.ActionLink("Statistics","Index","Statistics")</li>
				<li><a href="#">Transactions</a></li>
				<li>@Html.ActionLink("About Us", "About", "Home")</li>
				<li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
			</ul>
		</div>
	</div>
<div id="page" class="container">
		<div id="content">
			<div class="post">
				<h2 class="title">Block Explorer</h2>
				<div class="entry">
					<p>Below you will find a detailed report for each of the ten most recent blocks in the blockchain.</p>

@model List<Storage.Models.Block>


@{foreach(Storage.Models.Block modelItem in Model)
    {
        <h3> @Html.DisplayFor(modelItemProperty => modelItem.Hash)</h3>
        <div>
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => modelItem.Version)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItemProperty => modelItem.Version)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => modelItem.PreviousBlock)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItemProperty => modelItem.PreviousBlock)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => modelItem.MerkleRoot)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItemProperty => modelItem.MerkleRoot)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => modelItem.Time)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItemProperty => modelItem.Time)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => modelItem.NumberOnce)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItemProperty => modelItem.NumberOnce)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => modelItem.NumberOfTransactions)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItemProperty => modelItem.NumberOfTransactions)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => modelItem.Size)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItemProperty => modelItem.Size)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => modelItem.Height)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItemProperty => modelItem.Height)
                    </td>
                </tr>
                                <tr>
                    <th>
                        @Html.DisplayNameFor(model => modelItem.Amount)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItemProperty => modelItem.Amount)
                    </td>
                </tr>
            </table>
    </div>
    <br/>

    }
}
                </div>
			
            </div>

		</div>
    </div>			
