	<div id="menu-wrapper">
		<div id="menu" class="container">
			<ul>
				<li>@Html.ActionLink("Home", "Index", "Home")</li>
			    <li>@Html.ActionLink("Block Explorer", "Index", "Explorer")</li>
			    <li class="current_page_item">@Html.ActionLink("Search","Index","Search")</li>
				<li>@Html.ActionLink("Statistics","Index","Statistics")</li>
				<li>@Html.ActionLink("Transactions","Index","Transactions")</li>
				<li>@Html.ActionLink("About Us", "About", "Home")</li>
				<li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
			</ul>
		</div>
	</div>


@model WebRole.Models.SearchModel



<h1>@ViewBag.Title</h1>



 @using (Html.BeginForm())

 {

     <div>

         <fieldset>

             <legend>Search for block by hash number below:</legend>

             <div class="blockname">

                 @Html.TextBoxFor(model => model.Name, new { @class= "wide", maxlength=100 })
                 @Html.ValidationMessageFor(model => model.Name)


             </div>  

              <p>

                 <input type="submit" value="Enter" />

             </p>

         </fieldset>

     </div>

     }

 