	<div id="menu-wrapper">
		<div id="menu" class="container">
			<ul>
				<li>@Html.ActionLink("Home", "Index", "Home")</li>
			    <li>@Html.ActionLink("Block Explorer", "Index", "Explorer")</li>
			    <li class="current_page_item">@Html.ActionLink("Search","Index","Search")</li>
				<li>@Html.ActionLink("Statistics","Index","Statistics")</li>
				<li>@Html.ActionLink("Transactions","Index","Transactions")</li>
				<li>@Html.ActionLink("About Us", "About", "Home")</li>
				<li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
			</ul>
		</div>
	</div>

@model Storage.Models.Block

<div id="page" class="container">
		<div id="content">
            <div class="post">
				<h2 class="title">Search Results</h2>
				<div class="entry">
                    <p> You have searched for block <b> @Model.Hash</b>. </p>
        <div>

            <table>

                <tr>

                    <th>

                        Version

                    </th>

                    <td>

                        @Model.Version

                    </td>

                </tr>

                <tr>

                    <th>

                        Previous Block

                    </th>

                    <td>

                        @Model.PreviousBlock

                    </td>

                </tr>

                <tr>

                    <th>

                    Merkle root
                    </th>

                    <td>

                        @Model.MerkleRoot

                    </td>

                </tr>

                <tr>

                    <th>

                        Time

                    </th>

                    <td>

                        @Model.Time

                    </td>

                </tr>

                <tr>

                    <th>

                        Number Once

                    </th>

                    <td>

                        @Model.NumberOnce

                    </td>

                </tr>

                <tr>

                    <th>

                        Number of Transactions

                    </th>

                    <td>

                        @Model.NumberOfTransactions

                    </td>

                </tr>

                <tr>

                    <th>

                        Size

                    </th>

                    <td>

                        @Model.Size

                    </td>

                </tr>

                <tr>

                    <th>

                       Height

                    </th>

                    <td>

                        @Model.Height

                    </td>

                </tr>

            </table>

    </div>

				</div>
			</div>
		</div>
    </div>


